<!DOCTYPE html>
<!-- 
***************************************************************
* PROJECT : NCHype Under-Construction Template
* AUTHOR : NCodeArt
***************************************************************
-->
<html>
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="nc,ncodeart,slideshow,animation,youtube background,coming-soon,underconstruction">
    <meta name="author" content="NCodeArt">

    <title>H2 Performance</title>
    <link rel="shortcut icon" href="../static/images/you-bg.jpg">
    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>

    <!-- FONT-ICON -->
    <link rel="stylesheet" type="text/css" href="../static/lib/et-line-font/style.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/Icon-font-7-stroke-PIXEDEN/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/themify-icons/themify-icons.css">

    <!-- DEFAULT-LIB -->
    <link rel="stylesheet" type="text/css" href="../static/lib/animation/animate.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css"
          href="../static/lib/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/Magnific-Popup/magnific-popup.css">

    <!-- PLUGIN-LIB -->
    <link rel="stylesheet" type="text/css" href="../static/lib/partical-effect/partical-animation.css">

    <!-- TEMPLATE -->
    <link rel="stylesheet" type="text/css" href="../static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nc-structure.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nc-main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nc-helper.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nc-responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">

</head>
<body>
<!-- PAGE-LOADER -->
<div class="page-loader-wrapper page-loader-wrapper-1 flex-cc">
    <div class="loader">
        <div class="stick1"></div>
        <div class="stick2"></div>
        <div class="stick3"></div>
        <div class="stick4"></div>
    </div>
</div><!-- / PAGE-LOADER -->

<!-- MAIN-WRAPPER -->
<div id="main-wrapper" class="main-wrapper">

    <!-- BACKGROUND -->
    <div class="bg-section bg-cover bg-cc" data-bgImage="../static/images/bg-24.jpg">
        <div class="overlay" style="background-color: rgba(0,0,0,0.45);"></div>
    </div><!-- / BACKGROUND -->

    <!--[ RAIN ANIMATION ]-->
    <!--<div id="particles-js"></div>-->
    <!--[ RAIN ANIMATION END ] -->

    <!-- HOME-WRAPPER -->
    <div id="home-wrapper" class="flex-cc page-wrapper">
        <div class="inner-wrapper">
            <!-- HOME-PAGE -->
            <div class="intro-section intro-section-1 animated s0-8" data-animOut="fadeOut" data-animIn="fadeIn">
                <div class="container">
                    <!-- TEXT-ANIMATION -->
                    <div class="text-animation">
                        <div class="hd-text">
                            <h2 class="main-text">Welcome to H2 Performance</h2>
                        </div>
                        <div class="carousel-widget" data-anim="fadeInUp" id="carousel-widget" data-items="1"
                             data-itemrange="false" data-tdrag="false" data-mdrag="false" data-pdrag="false"
                             data-autoplay="true" data-in="fadeIn" data-loop="true" data-hstop="true">
                            <div class="owl-carousel">
                                <div class="item"><h2 class="main-text">HTTP/2 Protocal Support</h2></div>
                                <div class="item"><h2 class="main-text">Front-End Resource Optimization</h2></div>
                                <div class="item"><h2 class="main-text">Fast Web Application</h2></div>
                                <div class="item"><h2 class="main-text">Check your site</h2></div>
                            </div>
                        </div>
                    </div><!-- / TEXT-ANIMATION -->
                    <!-- SUBSCRIBE-FORM -->
                    <div class="subscribe-form subscribe-form-1" data-animOut="fadeOutUp" data-animIn="fadeInUp">
                        <h2 class="inputStyle">http(s)://</h2>
                        <div class="field-group">
                            <input class="form-control" type="text" name="url" placeholder="example.com"/>
                            <button class="btn btn-glass" type="button" id="btsubmit">TEST</button>
                        </div>
                        <div id="notice"></div>
                    </div>

                    <!-- / SUBSCRIBE-FORM -->

                    <div class="navigation-wrp navigation-wrp-1">
                        <div class="inner-wrp" id="content">
                            <table id="tickets" class="table" frame="void">
                                <tbody>
                                <tr>
                                    {% for item in url_list1 %}
                                    <td>
                                        <a href="{{ url_for('result',sitename=item['sitename']) }}">
                                            <h4 class="urltitle">{{item['sitename']}}</h4>
                                            <img src="{{ url_for('static', filename =item['imgurl']) }}" width="200px" height="130px" onerror="this.src='../static/images/empty.png'">
                                        </a>
                                    </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for item in url_list2 %}
                                    <td>
                                        <a href="{{ url_for('result',sitename=item['sitename']) }}">
                                            <h4 class="urltitle">{{item['sitename']}}</h4>
                                            <img src="{{ url_for('static', filename =item['imgurl']) }}" width="200px" height="130px" onerror="this.src='../static/images/empty.png'">
                                        </a>
                                    </td>
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <!-- / HOME-PAGE -->

        </div>

        <!-- SOCIAL BUTTON -->
        <div id='ss_menu' class="animated s0-8" data-animOut="fadeOut" data-animIn="fadeIn">
            <a href="https://www.facebook.com/groups/H2Korea/"><i class="fa fa-facebook-official"></i></a>
            <a href="https://github.com/browsable/FEO-backend"><i class="fa fa-twitter"></i></a>
            <a href="http://itrepreneur.tistory.com/"><i class="fa fa-pinterest"></i> </a>
            <a href="http://Http2.tistory.com"><i class="fa fa-dribbble"></i></a>

            <div class='menu'>
                <div class='share' id='ss_toggle' data-rot='180'>
                    <div class='circle'></div>
                    <div class='bar'></div>
                </div>
            </div>
        </div><!-- / SOCIAL BUTTON -->

    </div><!-- / HOME-WRAPPER -->


</div><!-- / MAIN-WRAPPER -->

<!-- DEFAULT-SCRIPT -->
<script src="../static/lib/jquery/jquery-1.11.3.min.js"></script>
<script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/lib/jquery-validation/jquery.validate.min.js"></script>

<!-- PLUGIN SCRIPT -->
<script src="../static/lib/partical-effect/particles.min.js"></script>
<script src="../static/lib/partical-effect/partical-animation.js"></script>
<script src="../static/js/plugins.js"></script>

<!-- TEMPLATE SCRIPT -->
<script src="../static/js/nc-common.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<!-- CUSTOM SCRIPT -->
<script src="../static/js/jsonp.js"></script>

</body>
</html>